/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

#board td {
  border: solid 1px #666;
  transition-duration: 0.5s;
  font-size: 9pt;
  background-color: #4187a596;
  border-collapse: collapse;
  width: 110px;
  height: 110px;
  border: solid 2px rgb(13, 83, 16);
  text-align: center;
  cursor: pointer;
}

#board {
  padding: 32px;
  border-radius: 10px;
  margin: 1em;
  padding: 0;
  background-attachment: fixed;
}

 #column-top td {
  border: double 4px rgb(13, 83, 16);
  width: 12em;
  height: 4em;
  padding: 1em;
  text-transform: uppercase; 
  font-family: 'Syne Mono', monospace;
  font-weight: bold;
  text-shadow: rgb(209, 155, 18) 1px 1px;
  background-color:  #e0b27e ;
} 

button {
 font-family: 'Syne Mono', monospace;
}    

button:hover {
  cursor: pointer;
}

body {
  background: linear-gradient(160deg,  #00fcda 1%, #e0b27e 50%);
/*   border-radius: 10px; */
/*   box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5); */
  justify-content: space-between;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  background-size: cover;
  margin: 0.5em;
/*   padding: 0; */
  background-attachment: fixed;
}

h1 {
  Color:  rgb(235, 144, 69);
  font-size: 3.6em;  
  text-shadow: 5px 5px 15px rgb(6, 7, 68);
}  

@media screen and (max-width: 600px) {
  h1 {
    Color:  rgb(235, 144, 69);
    font-size: 2.6em;  
    text-shadow: 5px 5px 15px rgb(6, 7, 68);
  }  

  table.main .per-50g {
    display: none;
  }
  table.main .per-100g {
    display: none;
  }
  
  table.mobile {
    display: table;
    margin: 2em;
  }
  
  table.composition {
    width: 100%;
  }

  table.composition td {
    width: 50%;
  }

  #board tr td{
    width: auto;
    padding: auto;
    /* padding: 32px; */
    border-radius: 10px;
    margin: 1em;
    padding: 0;
    background-attachment: fixed;
  }
  
}
